<nav class='navbar navbar-expand-xs navbar-dark bg-dark fixed-top' id='header'>
<div class='container'>
    <a class="navbar-brand" href="/">렉클</a>
    <!-- <button class="navbar-toggler navbar-toggler-right" type='button' data-toggle='collapse' data-target='#authentication_menu' aria-controls="authentication_menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- <div class="collapse navbar-collapse" id='authentication_menu'>
      <ul class="navbar-nav ml-auto mt-2 align-items-end">
        <li class="nav-item">
          <a href="/tradings" class="nav-link">주가 예측</a>
        </li>
        <li class="nav-item">
          <a href="/tradings/settings" class="nav-link">종목 설정</a>
        </li>
      </ul>
    </div> -->
  </div>
</nav>
